<!DOCTYPE html>
<html lang="en">
  <head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>My Web App</title>
  </head>
  <body>
  	<h1> Hello Images! </h1>
  <!--Grid row-->
  <div class="container my-4">

    <div class="row">

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="{{url_for('static', filename='confusion_matrix.png')}}" class="img-fluid mb-4" alt=""
          data-wow-delay="0.1s">

        <img src="{{url_for('static', filename='titanic-1.png')}}" class="img-fluid mb-4" alt=""
          data-wow-delay="0.4s">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="{{url_for('static', filename='titanic-2.png')}}" class="img-fluid mb-4" alt=""
          data-wow-delay="0.2s">

        <img src="{{url_for('static', filename='titanic-3.png')}}" class="img-fluid mb-4" alt=""
          data-wow-delay="0.5s">

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

</div>

  </body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
